<div id="parent">

    <article class="clearfix">
        <figure class="leftside">
            <img src="./img/potato.jpg" alt="potato with eyes">
            <figcaption>GMO</figcaption>
        </figure>
        <div class="rightside">
            <h2>GMO Food</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ducimus vitae distinctio mollitia, facere ipsum vero, corrupti, sequi inventore odit ut doloribus eum atque. Alias explicabo inventore repudiandae quas maxime. Ut reiciendis provident odit in, quisquam molestiae eaque harum reprehenderit iste qui soluta laboriosam repellat laudantium tempora vero hic minus ea dolores adipisci, quam earum porro iure ipsa. Sapiente, minus. Ad libero quo culpa eos nihil omnis, asperiores molestiae, beatae architecto, alias nam. Delectus similique velit blanditiis quia soluta omnis sed, harum doloremque tempore placeat ab esse in cumque iusto.</p>
        </div>
    </article>

    <article class="clearfix">
        <figure class="leftside">
            <img src="./img/money.jpg" alt="money in dirt">
            <figcaption>ILLUMINATI MONEY</figcaption>
        </figure>
        <div class="rightside">
            <h2>The Value of Money</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ducimus vitae distinctio mollitia, facere ipsum vero, corrupti, sequi inventore odit ut doloribus eum atque. Alias explicabo inventore repudiandae quas maxime. Ut reiciendis provident odit in, quisquam molestiae eaque harum reprehenderit iste qui soluta laboriosam repellat laudantium tempora vero hic minus ea dolores adipisci, quam earum porro iure ipsa. Sapiente, minus. Ad libero quo culpa eos nihil omnis, asperiores molestiae, beatae architecto, alias nam. Delectus similique velit blanditiis quia soluta omnis sed, harum doloremque tempore placeat ab esse in cumque iusto.</p>
        </div>
    </article>

    <article class="clearfix">
        <figure class="leftside">
            <img src="./img/business.jpg" alt="electronics">
            <figcaption>What's in your bag</figcaption>
        </figure>
        <div class="rightside">
            <h2>The View of World in 2100</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ducimus vitae distinctio mollitia, facere ipsum vero, corrupti, sequi inventore odit ut doloribus eum atque. Alias explicabo inventore repudiandae quas maxime. Ut reiciendis provident odit in, quisquam molestiae eaque harum reprehenderit iste qui soluta laboriosam repellat laudantium tempora vero hic minus ea dolores adipisci, quam earum porro iure ipsa. Sapiente, minus. Ad libero quo culpa eos nihil omnis, asperiores molestiae, beatae architecto, alias nam. Delectus similique velit blanditiis quia soluta omnis sed, harum doloremque tempore placeat ab esse in cumque iusto.</p>
        </div>
    </article>
</div>
