<div id="parent">
    <figure class="portfolio">
        <img src="../img/future.jpg" alt="future">
        <figcaption>The Future</figcaption>
    </figure>
    <figure class="portfolio">
        <img src="../img/hal.jpg" alt="hal">
        <figcaption>Meet the New Alexa</figcaption>
    </figure>
    <figure class="portfolio">
        <img src="../img/lights.jpg" alt="lights">
        <figcaption>Tude Lights</figcaption>
    </figure>
    <figure class="portfolio">
        <img src="../img/robots.jpg" alt="Robots">
        <figcaption>Robits</figcaption>
    </figure>
    <figure class="portfolio">
        <img src="../img/security.jpg" alt="security">
        <figcaption>No Security</figcaption>
    </figure>
    <figure class="portfolio">
        <img src="../img/vr.jpg" alt="vr">
        <figcaption>VR at an afforadable price!</figcaption>
    </figure>
</div>
